<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TransfeRR</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/transfers/">Payments Sent</a>
        <a class="nav-item nav-link" href="/approvals">Payments Received</a>
        <a class="btn btn-outline-light my-2 my-sm-0" href="/transfers/new"
          >Send Payment</a
        >
        <a class="nav-item nav-link" href="/register" style="float:right"
          >Register</a
        >
        <a class="nav-item nav-link" href="/login">Login</a>
      </div>
    </div>
    <form method="POST" action="/logout">
      <button type="submit" class="btn btn-outline-dark">LOGOUT</button>
    </form>
  </nav>
</header>
