<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/_head.ejs') %>
  </head>
</html>
<body>
  <%- include ('./partials/_header.ejs') %>
  <div style="text-align:center">
    <h3>Approvals</h3>
    <p>-list goes here-</p>
  </div>
</body>
