<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/_head.ejs') %>
  </head>

  <body>
    <%- include ('./partials/_header.ejs') %>
    <div style="text-align:center; padding-top: 2rem">
      <p>Welcome to TransfeRR</p>
      <p>please register or login to begin</p>
    </div>
  </body>
</html>
